@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Inter", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img {
  max-height: 100%;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.box:hover {
  color: #397a4a;
  text-decoration: underline;
  cursor: pointer;
}
.box {
  margin-inline: 10px;
}
.css-1bp6ly3-MuiPaper-root-MuiAccordion-root {
  background-color: unset !important;
}
.css-l0fmuu-MuiPaper-root-MuiAccordion-root {
  background-color: unset !important;
  border-bottom: 1px solid #fffcf6;
  outline: none;
  border: none;
}
/* **************business************* */
.businessSlider .swiper-horizontal > .swiper-pagination-bullets,
.businessSlider .swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 0% !important;
}

.businessSlider
  .swiper-horizontal
  > .swiper-pagination-bullets
  .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  background-color: #6e716e;
  padding: 6px !important;
  margin-inline: 8px;
  border: 1px solid black;
}
.businessSlider .swiper-pagination-bullet-active,
.businessSlider2 .swiper-pagination-bullet-active,
.reviewBoxes .swiper-pagination-bullet-active {
  background: #397a4a !important;
}
.businessSlider .swiper-wrapper {
  height: 160px !important;
}
.businessSlider .swiper-button-next:after,
.businessSlider .swiper-button-prev:after,
.businessSlider2 .swiper-button-next:after,
.businessSlider2 .swiper-button-prev:after {
  display: none;
}
.businessSlider .swiper-button-prev,
.businessSlider2 .swiper-button-prev {
  position: absolute;
  top: 40%;
  left: 14% !important;
  font-size: 34px;
  transform: translateY(-50%);
}
.businessSlider .swiper-button-next,
.businessSlider2 .swiper-button-next {
  position: absolute;
  top: 40%;
  right: 14% !important;
  font-size: 34px;
  transform: translateY(-50%);
}
/* ************businessSlider2************ */
.businessSlider2 .swiper-wrapper {
  height: 480px !important;
}
.businessSlider2 .swiper-horizontal > .swiper-pagination-bullets,
.businessSlider2 .swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 0% !important;
}

@media screen and (max-width: 600px) {
  .businessSlider
    .swiper-horizontal
    > .swiper-pagination-bullets
    .swiper-pagination-bullet,
  .businessSlider
    .swiper-pagination-horizontal.swiper-pagination-bullets
    .swiper-pagination-bullet {
    padding: 5px !important;
  }
}
.businessSlider .swiper-button-next:after,
.businessSlider .swiper-button-prev:after,
.aboutSlider .swiper-button-next:after,
.aboutSlider .swiper-button-prev:after,
.reviewBoxes .swiper-button-next:after,
.reviewBoxes .swiper-button-prev:after {
  display: none !important;
}
.aboutSlider .swiper-button-prev {
  position: absolute;
  top: 36%;
  font-size: 32px;
}
.aboutSlider .swiper-button-next {
  position: absolute;
  top: 36%;
  font-size: 32px;
}
.overpass {
  font-family: "Overpass", sans-serif !important;
  /*letter-spacing: -1px !important;*/
}
.title {
  letter-spacing: -1px !important;
}
.css-ahj2mt-MuiTypography-root {
  font-family: Overpass, sans-serif !important;
}
/******************review**********/
.reviewBoxes .swiper-wrapper {
  height: 250px !important;
}
.reviewBoxes .swiper {
  padding: 0 50px;
}
.reviewBoxes .swiper-button-prev {
  position: absolute;
  top: 40%;
  left: 0% !important;
  font-size: 34px;
  transform: translateY(-50%);
}
.reviewBoxes .swiper-button-next {
  position: absolute;
  top: 40%;
  right: 0% !important;
  font-size: 34px;
  transform: translateY(-50%);
}

#mainSwiper .swiper-wrapper {
  height: 100% !important;
  margin-block: 50px;
}
.container {
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}




.main .css-114p2tk-MuiMobileStepper-dot {
  width: 50px !important;
  height: 5px !important;
  border-radius: unset !important;
  background-color: #dce2da !important;
}
.main .css-26w9jf-MuiMobileStepper-dot {
  width: 50px !important;
  border-radius: unset !important;
  background-color: #325343 !important;
  height: 5px !important;
}
